<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extrasspringsecurity5">
<head>
    <meta charset="utf-8">
    <title>Welcome to CodeJava Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">

    <div sec:authorize ="isAnonymous()"><a th:href="@{register}">Regisztráció</a>
        <a th:href="@{login}">Bejelentkezés</a>
        <a th:href="@{index}">Főoldal</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <p>Jónapot: <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
        <a th:href="@{index}">Főoldal</a>
        <a th:href="@{contact}">Kapcsolat</a>
        <a th:href="@{message}">Üzenetek</a>
    </div>
    <h1>MISINA - TANYA ÉS MENHELY</h1>

</div>
</body>
</html>